.env
HELP.md
target/
wrapper
!**/src/main/**/target/
!**/src/test/**/target/
data/appdatabase.db
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/
